<form class="login" action="" method="post">
  <label for="">Username</label><br>
  <input type="text" name="username" value="" class="l_username"><br><br>  

  <label for="">Password</label><br>
  <input type="password" name="password" value="" class="l_password"><br><br>

  <input type="submit" name="" value="Register">
</form>

<div class="errors"></div>
