<form class="register" action="" method="post">
  
  <label for="">Username</label><br>
  <input type="text" name="username" value="" class="r_username"><br><br>

  <label for="">Email</label><br>
  <input type="text" name="email" value="" class="r_email"><br><br>

  <label for="">Password</label><br>
  <input type="password" name="password" value="" class="r_password"><br><br>

  <label for="">Password again</label><br>
  <input type="password" name="password_again" value="" class="r_password_again"><br><br>

  <input type="submit" name="" value="Register">
</form>

<div class="errors"></div>
